<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Crypt</string>
	<key>atlas</key>
	<string>Crypt</string>
	<key>tiles</key>
	<dict>
		<key>1</key>
		<dict>
			<key>wall</key>
			<false/>
			<key>pathable</key>
			<true/>
			<key>tile</key>
			<array>
				<string>path</string>
			</array>
			<key>base</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>wall</key>
			<false/>
			<key>pathable</key>
			<false/>
			<key>tile</key>
			<array>
				<string>wall</string>
			</array>
			<key>base</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>wall</key>
			<false/>
			<key>pathable</key>
			<false/>
			<key>tile</key>
			<array>
				<string>wall</string>
			</array>
			<key>base</key>
			<array>
				<string>stonewall_base_1</string>
			</array>
		</dict>
		<key>4</key>
		<dict>
			<key>wall</key>
			<false/>
			<key>pathable</key>
			<false/>
			<key>tile</key>
			<array>
				<string>wall</string>
			</array>
			<key>base</key>
			<array>
				<string>goldwall_base_1</string>
			</array>
		</dict>
		<key>5</key>
		<dict>
			<key>wall</key>
			<false/>
			<key>pathable</key>
			<false/>
			<key>tile</key>
			<array>
				<string>wall</string>
			</array>
			<key>base</key>
			<array>
				<string>palewall_base_1</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
